header {
  width: 100%;
  height: 6rem;
  border-bottom: 0.4px solid #fff2e7;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

header img {
  width: 3.875rem;
}
header nav {
  display: flex;
  gap: 2rem;
}
header a {
  font-family: "Sarala", sans-serif;
  color: #fff2e7;
  font-weight: 400;
  font-size: 1.125rem;
}

header .close {
  display: none;
  color: #fff2e7;
}

header .menu {
  color: #fff2e7;
  display: none;
}
