main .adicionar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 6.125rem;
  margin-bottom: 3.125rem;
}

main .adicionar div {
  padding-top: 5.875rem;
}

main .adicionar div h2 {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
  color: #fff2e7;
}

main .adicionar div p {
  font-family: "Sarala", sans-serif;
  color: #ecd6c4;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.438rem;
}

main .adicionar div button {
  width: 11.563rem;
  height: 4.188rem;
  margin-top: 2.125rem;

  background: #ecd6c4;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: "Sarala", sans-serif;
  font-size: 1.5rem;
  line-height: 2.438rem;
  text-align: center;
  font-weight: 400;

  color: #2f2325;
}

main .adicionar div button:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

/*Parte 2 do estilo*/

main .descricao {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.25rem;
}
main .descricao h3 {
  font-family: "Righteous", cursive;
  font-weight: 400;
  color: #fff2e7;
  font-size: 1.5rem;
  line-height: 1.875rem;

  border-top: 0.4px solid #fff2e7;
  padding-top: 1rem;
}
main .descricao ol {
  list-style: none;
  margin-top: 2rem;
}
main .descricao ol li {
  text-align: center;
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #ecd6c4;
  line-height: 1.875rem;
}
main .descricao ol li span {
  font-weight: 700;
}
