/** Responsividade*/
@media (max-width: 1030px) {
  main .adicionar {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 940px) {
  main .descricao {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
  main .descricao ol li {
    text-align: justify;
  }
}

@media (max-width: 700px) {
  header nav {
    display: none;
  }
  header .aparece {
    color: #ecd6c4;
    display: block;
  }
  header {
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
  }
  .menuMobile {
    height: 100vh;
    align-items: flex-start;
    padding-top: 17px;
    position: fixed;
    z-index: 30000;
    background-color: #2f2325;
  }
  .menuMobile .close {
    margin-top: 20px;
  }
  .menuMobile nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .menuMobile nav a {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  main .adicionar div h2 {
    font-size: 3rem;
  }
  main .adicionar div p,
  main .adicionar div button {
    font-size: 1.25rem;
  }
  main .adicionar div {
    width: 90%;
    margin: auto;
  }
}
